body{
    background-color: #111;

    margin: 0;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

#heart{
    position: relative;
    width: 143px;
    height: 110px;
    border: 2px solid #fff;
}

#heart::before, #heart::after{
    content: "";
    position: absolute;
    width: 70px;
    height: 110px;
    background-color: red;
    border-radius: 50px 50px 0 0;
}

#heart::before{
    left: 70px;
    transform: rotate(45deg);
    transform-origin: -20px 102px;
}

#heart::after{
    left: 0;
    transform: rotate(-45deg);
    transform-origin: 127px 10px;
}


}